.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(129, 165, 241, 0.486);
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  z-index: 2;
  overflow-y: scroll;
  cursor: auto;
}

.modal__content {
  flex: 1;
  max-width: 1100px;
  min-height: 600px;
  display: flex;
  border-radius: 20px;
  background-color: rgb(247, 247, 247);
  position: relative;
}

.modal__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  min-width: 300px;
  border-radius: 10px 0px 0px 10px;
  background-color: #fbfbfb;
}

.modal__price {
  color: rgb(99, 91, 91);
  font-size: 24px;
  margin-bottom: 40px;
}

.modal__category {
  color: rgb(99, 91, 91);
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.modal__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal__photo img {
  max-width: 300px;
  max-height: 600px;
}

.modal__right-side {
  display: flex;
  flex-direction: column;
  flex: 2;
  min-width: 300px;
  box-sizing: border-box;
  padding: 20px;
}

.modal__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

hr {
  width: 100%;
  color: gainsboro;
}
.modal__description-title {
  text-align: left;
  font-size: 20px;
  font-weight: 18px;
  margin-bottom: 5px;
  margin: 20px 0px;
}

.modal__description {
  font-size: 18px;
  line-height: 1.3em;
}

.close-modal {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}
