.dropship {
  display: flex;
}

h2,
h3 {
  font-weight: 200;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.aside {
  width: 270px;
  max-width: 270px;
  display: flex;
  height: 100vh;
  position: sticky;
  top: 0;
}

.dropship-logo {
  width: 80%;
  height: 100%;
  margin-left: 5px;
}


.aside__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60px;
  margin-right: 2px;
}

.aside__nav div:nth-child(1) {
  border-bottom: 2px solid grey;
}

.aside__nav div {
  margin-top: 27px;
}

.aside__categories {
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 237, 245);
}

.choose-niche,
.choose-category {
  width: 100%;
  height: 52px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.73;
  padding-left: 20px;
  background-color: #9da9d5;
  color: white;
}
.choose-niche {
  background-color: rgb(93, 107, 159);
}

.ship-from,
.ship-to,
.select-supplier {
  position: relative;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  color: #29304b;
  padding: 8px;
  text-transform: capitalize;
  width: 80%;
  margin-top: 20px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid white;
  height: 40px;
  overflow: hidden;
  outline: none;
}

.profit,
.price {
  margin-top: 30px;
}

.nav__select {
  display: flex;
  align-items: center;
}

.nav__sort {
  margin-top: 10px;
}

.nav__select button {
  margin-right: 30px;
}

.help-menu {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  border: 2px solid #49547d !important;
  width: 24px;
  height: 24px;
  background-color: #fdfcfc;
  color: #49547d;
  border-radius: 50%;
  font-weight: bolder;
  outline: 0;
  cursor: pointer;
  margin-left: 30px;
}

.catalog {
  margin: 0 auto;
  background-color: rgb(248, 249, 250);
  display: flex;
  margin-right: 40px;
  margin-left: 10px;
  margin-bottom: 20px;
  min-width: 77vw;
  margin-left:20px;
}

.checkbox-container {
  position: relative;
  padding-left: 18px;
  cursor: pointer;
  margin-left: 5px;
}
.checkbox-container input {
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container input:checked ~ .catalog__checkmark {
  background-color: #00aedc;
  border: 1px solid #00aedc;
}

.checkbox-container .catalog__checkbox:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: 1px solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.catalog__checkmark:after {
  position: absolute;
}
.catalog__checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #bdbdbd;
}

.catalog__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  max-height: 500px;
  flex: 1 280px;
  width: 300px;
  height: 430px;
  border: 2px rgb(231, 232, 238) solid;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}

#sort {
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-image: linear-gradient(to bottom, #e5e5e5, #f4f4f4);
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: nowrap;
  outline: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #a8a4a4;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.catalog__product:hover {
  border: rgb(97, 213, 223) 3px solid;
  border-radius: 8px;
}

.catalog__image {
  height: 300px;
}
.catalog__image img {
  width: 100%;
  height: 100%;
}

.catalog__text {
  margin-top: 30px;
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: center;
  border-bottom: 2px rgb(231, 232, 238) solid;
}

.catalog__text h2 {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-family: sans-serif;
}

.catalog__prices {
  margin-top: 5px;
  font-family: serif;
}

.catalog__prices h3 {
  font-size: 20px;
}

.header {
  margin: 20px 0px;
  background-color: rgb(248, 249, 250);
}

.nav {
  display: flex;
  justify-content: space-around;
}

#searchQuery {
  width: 300px;
  height: 15px;
  padding: 5px;
  border: 2px solid rgb(239, 239, 241);
  border-radius: 5px;
  outline: none;
}

#buttonQuery {
  margin: 0 5px;
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav__button {
  background-color: rgb(97, 213, 223);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(97, 213, 223);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
}

.nav__button-aside {
  width: 80%;
  align-items: center;
  margin-top: 30px;
  margin-right: 20px;
}

.categories-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-inner select {
  width: 100%;
}

.categories-inner div {
  width: 90%;
}

.input-price,
.input-profit {
  width: 110%;
}

.aside__nav-logo:hover {
  color: #61d5df;
  cursor: pointer;
}
